{:deps {io.vouch/krell {:git/url "https://github.com/vouch-opensource/krell.git"
                        :sha "08f2bfea96aa48feb8511851e37f5948453986e5"}

        com.pitch/uix.core {:mvn/version "0.10.0"}
        com.fbeyer/refx {:mvn/version "0.0.49"}
        com.fbeyer/refx-http {:mvn/version "0.0.49"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}}}
